<div id="countdown">
  <div class="reminder">
    <div class="reminder_topic">
      <div class="reminder_topic_header">REMINDER TOPIC</div>
      <div class="reminder_topic_content"><input type="text"></div>
      
    </div>
    <div class="reminder_content">
      <div class="reminder_content_header">REMINDER TOPIC</div>
      <div class="reminder_content_content"><input type="text" ></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="remind-timer">

    <div>REMIND ME AFTER</div>
    <br>
    <div><input type="number" name="" id="minute" value="0" min="0"><input type="number" name="" id="second" value="15" max="59" min="0" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"></div>

    <br>

    <br>
    <div id="show_time"><span>08</span><span>50</span></div>
    <br>
    <div><button type="button" id="stop">STOP</button> <button type="button" id="pause">PAUSE</button>   <button type="button" id="continue">CONTINUE</button></div>
    <br>
    <br>
    <div><button type="button" id="create">CREATE</button> <button type="button" id="cancel">CANCEL</button></div>
  </div>

</div>