<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
  </head>
  <body>
    {{{body}}}



  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/axios/axios.min.js"></script>
  </body>
  
</html>
